.target1{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
}

.target2{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
}

.target3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    color: white;
}

.span2{
    background-color: red;
}